
.navbar-light .navbar-nav .nav-link, a {
  color: #5DBCD2;
  font-weight:600;
  text-transform: uppercase;
}
.link-note:hover {
  text-decoration:none;
}
.text-md-left {
  text-transform: uppercase;
}

.text-purple {
  text-transform: uppercase;
  color: #5DBCD2;
  font-weight:600;
  text-transform: uppercase;
}

.btn-primary, .btn-primary:hover {
  border-color: #5DBCD2;
  background-color: #5DBCD2;
  text-transform: uppercase;
}

.btn-secondary {
  text-transform: uppercase;
}

.column-header {
  border-color: #5DBCD2;
  background-color: #5DBCD2;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #fff;
  cursor: default;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.pagination-status {
    display: inline-block;
    list-style-type: none;
}

.pagination-status li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination-status li.active {
    background-color: #5DBCD2;
    color: white;
}

